/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

// /* THE APP */
* {
  font-family: "Ubuntu";
}

a {
  text-decoration: none !important;
}
body {
  background: #504e4e;
}

// /*  FOOTER  */

footer {
  font-size: 20px;
  margin: 4rem 0 0 0;
  background-color: #bdbdbd;

  .MuiButton-root {
    background-color: #504e4e;
  }

  .MuiButton-root:hover {
    background-color: #ff69b4;
  }
}

.footer-navbar {
  div.container-fluid {
    justify-content: flex-end;
  }
}

// Header

header {
  margin: 0 0 4rem 0;

  .home-icon {
    color: #504e4e;
  }

  .home-icon {
    :hover {
      color: #ff69b4;
    }
  }

  .user-name {
    color: #504e4e;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
  }

  .all-questions-link {
    color: #504e4e;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
  }
  .all-questions-link:hover {
    color: #ff69b4;
  }

  .MuiButton-root {
    background-color: #504e4e;
  }

  .MuiButton-root:hover {
    background-color: #ff69b4;
  }

  .css-e53awj-MuiStack-root,
  .css-u10pvi-MuiStack-root {
    align-items: baseline;
  }
}

.navbar {
  background-color: #bdbdbd;
}

// About Us Page
h1 {
  color: white;
}
.about-us-page {
  text-align: center;
  margin: 0 4rem 0 4rem;
}
.team-pic {
  align-items: center;
  height: 200px;
  width: 350px;
  margin: 0 4rem 0 4rem;
}

.about-me-card {
  height: 100%;
}

.about-me-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  img {
    width: 200px;
  }
}

// /*  Community Guidelines  */

.guide-title {
  right: 0;
  text-align: center;
  color: #ff69b4;
  background-color: black;
  display: grid;
  justify-content: space-evenly;
  overflow: hidden;
}

.guide-body {
  text-align: left;
  font-size: large;
  color: rgb(239, 230, 125);
  background-color: #15aabe;
}

.guide-article {
  text-align: center;
  color: black;
  background-color: #ff69b4;
}

.a-tag {
  font-size: x-large;
  color: #ff69b4;
}

// /* LANDING PAGE */
.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#landing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(53, 155, 193);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

//images on landing
.landing-images {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  .logo {
    opacity: 100%;
    max-width: 500px;
    max-height: 700px;
    width: auto;
    height: auto;
  }
  .landingpage {
    margin-right: 500px;
  }
}
.sign-up-gif {
  display: flex;
  justify-content: flex-end;
  min-height: 150px;

  .landingmedia {
    height: 150px;
    width: 150px;
  }
}
.landing-quote {
  text-align: center;
  font-style: italic;
  color: whitesmoke;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 0 auto;
  border: 1px solid rgb(247, 250, 250);
  padding: 5px;
  margin: 0 auto;
}

// /*  404 PAGE */

.patrick {
  height: 350px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guide-section {
  text-align: center;
  font-size: x-large;
  font-style: italic;
  color: whitesmoke;
  background-color: #15aabe;
}

// * Questions New Form */

#form {
  text-align: center;
  width: 500px;
  height: 650px;
  border: 15px solid rgb(25, 179, 196);
  border-radius: 2%;
  padding: 50px;
  margin: 0 auto;

  .MuiButton-root {
    background-color: #ff69b4;
  }

  .MuiButton-root:hover {
    background-color: #ff69b464;
  }
}

// /* QUESTION INDEX PAGE */
.question-index-button {
  display: flex;
  justify-content: center;
  margin: 20px;

  .MuiButton-root {
    color: #ff69b4;
  }

  .MuiButton-root:hover {
    background-color: #df5c9e4a;
  }
}
.question-index-container {
  .MuiCardContent-root {
    text-align: center;
  }
  .MuiPaper-root {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 4rem 0 4rem;
  justify-content: space-between;
  align-items: center;
}

// /* QUESTION SHOW PAGE */
.question-show-container {
  .MuiPaper-root {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
  margin: 0 15% 0 15%;
}

// / * LOGIN/LOG OUT PAGES */

#container {
  background-color: #bdbdbd;
  width: 20rem;
  border: 15px solid rgb(25, 179, 196);
  padding: 50px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#login-header {
  text-align: center;
}

.field {
  text-align: center;
}

.actions {
  text-align: center;
}

// /* Protected Index PAGE */
.protected-index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  h1 {
    color: white;
  }

  .MuiPaper-root {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    a {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 0;
  }

  #profileCol {
    display: flex;
    flex-direction: column;
    .MuiButton-root {
      color: #ff69b4;
    }

    .MuiButton-root:hover {
      background-color: #df5c9e4a;
    }
  }
  #QACol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .MuiButton-root {
      background-color: #504e4e;
    }

    .MuiButton-root:hover {
      background-color: #ff69b4;
    }
  }
}
