/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";

// /*  FOOTER  */

footer {
  font-size: 20px;
  margin: 4rem 0 0 0;
  background-color: #bdbdbd;
}

.footer-navbar {
  div.container-fluid {
    justify-content: center;
  }
}

// Header

header {
  margin: 0 0 4rem 0;
}

.navbar {
  background-color: #bdbdbd;
}

// About Us Page
.about-us-page {
  text-align: center;
  margin: 0 4rem 0 4rem;
}

.about-me-card {
  height: 100%;
}

.about-me-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  img {
  width: 200px;
  }
}

// /*  Community Guidelines  */

.guide-title {
  right: 0;
  text-align: center;
  color: whitesmoke;
  background-color: darkcyan;
  display: grid;
  justify-content: space-evenly;
  overflow: hidden;
}

.guide-body {
  text-align: left;
  font-size: medium;
  background-color: lightcyan;
}

.guide-article {
  text-align: center;
  color: darkslateblue;
  background-color: lightcyan;
}
// /* LANDING PAGE */
#landing {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(53, 155, 193);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.landingpage {
  height: 270px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -80px;
  position: relative;
}
.landingmedia {
  height: 150px;
  width: 150px;
  position: relative;
  top: -16px;
  right: -850px;
}
#quote {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;
  justify-content: space-around;
}

// /*  404 PAGE */

.patrick {
  height: 350px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guide-section {
  text-align: center;
  font-style: italic;
  color: whitesmoke;
  background-color: darkcyan;
}

// * Questions New Form */

#form {
  text-align: center;
  margin: 4rem 0 0 0;
  width: 500px;
  border: 15px solid rgb(25, 179, 196);
  padding: 50px;
  margin: 20px;
}
